---
import GameLayoute from "@/layouts/GameLayoute.astro";
import logoImg from '@/assets/logo.svg'
import rulesImg from '@/assets/image-rules.svg'
---

<GameLayoute logo={logoImg} rules={rulesImg}>
  <h1>NORMAL GAME</h1>
</GameLayoute>
