---
import { Image } from "astro:assets"
import Score from "@/components/Score"
import Modal from "@/components/Modal.astro"

const {logo, rules} = Astro.props
---
<section class="container h-screen flex flex-col justify-between items-center px-7 py-10">
  <header class="flex items-center justify-between w-3/5 border-2 border-Neutral-HeaderOutline p-6 rounded-2xl">
    <Image src={logo} alt="logo"/>
    <Score />
  </header>
	<slot />
  <Modal rules={rules}/>
  <footer class="self-end">
    <button>rules</button>
  </footer>
</section>